html, body { 
	height:100%;
    margin:0;
    padding:0;
}

#map {
	height: 100%; 
	width: 75%;
	float: left;
}

#list {
	height: 100%;
	overflow: scroll;
	border-left: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

ul {
  margin: 0;
  padding: 0;
}
 
li {
  list-style-type: none;
  font: 200 14px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 16px;
  background: #f6f6f6;
}
