.header {
  height: 3em;
  color: white;
  background-color: #1976d2;
  top: 0px;
  left: 0px;
  right: 0px;
  font-weight: bold;
  letter-spacing: 2px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a.MuiButton-outlined {
  border-color: white;
}

.header .menu-list-button {
  margin-left: 4em;
}

.header .info-dialog-icon {
  float: right;
}

.map-view-layout,
.list {
  position: absolute;
  top: 3em;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.map-view-layout {
  display: flex;
}

.map-view-column {
  flex: 70%;
}

.map-view-column .map {
  height: 100%;
}

.map-view-list-column {
  flex: 30%;
  border-left: 2px solid #d0d0d0;
}

/* Used to prevent a loop when using flexbox and react-virtualized-auto-sizer */
.map-view-list-column .list-container {
  height: 100%;
}

.list tr:hover {
  cursor: pointer;
}
