.header {
  height: 3em;
  color: #fff;
  background-color: #1976d2;
  top: 0px;
  left: 0px;
  right: 0px;
  font-weight: bold;
  letter-spacing: 2px;
}

.map, .list {
  position: absolute;
  top: 3em;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
