.header {
  height: 3em;
  color: #fff;
  background-color: #1976d2;
  top: 0px;
  left: 0px;
  right: 0px;
  font-weight: bold;
  letter-spacing: 2px;
}

.map-view-layout, .list {
  position: absolute;
  top: 3em;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.map-view-layout {
  display: flex;
}

.map-view-column {
  flex: 70%;
}

.map-view-column .map {
  height: 100%;
}

.map-view-list-column {
  flex: 30%;
  border-left: 2px solid #D0D0D0;
}

/* Used to prevent a loop when using flexbox and react-virtualized-auto-sizer */
.map-view-list-column .list-container {
  height: 100%;
}

.list tr:hover {
  cursor: pointer;
}

.header .info-dialog-icon {
  float: right;
}
