.cluster-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
}

.cluster-marker:hover {
  z-index: 1;
}
